.flockrush-slide-opening {
  background:url("/img/resources/Slides/flockrush_slide-opening.jpg") no-repeat center;
  background-size:contain;
}
.flockrush-slide-powering-bold-marketing {
  background:url("/img/resources/Slides/flockrush_slide-powering-bold-marketing.jpg") no-repeat center;
  background-size:contain;
}
.flockrush-slide-welcome {
  background:url("/img/resources/Slides/flockrush_slide-welcome.jpg") no-repeat center;
  background-size:contain;
}

.flockrush_Contact-Flockrush-Information {
  background:url("/img/resources/Slides/flockrush_Contact-Flockrush-Information.jpg") no-repeat center;
  background-size:contain;
}

.flockrush_deliver-powerful-marketing {
  background:url("/img/resources/Slides/flockrush_deliver-powerful-marketing.jpg") no-repeat center;
  background-size:contain;
}

.flockrush_flockrush-in-action {
  background:url("/img/resources/Slides/flockrush_flockrush-in-action.jpg") no-repeat center;
  background-size:contain;
}

.flockrush_support-multiple-use-cases {
  background:url("/img/resources/Slides/flockrush_support-multiple-use-cases.jpg") no-repeat center;
background-size:contain;
}

.flockrush_the-complete-package {
 background:url("/img/resources/Slides/flockrush_the-complete-package.jpg") no-repeat center;
background-size:contain;
}

.flockrush_Content-marketing-challenges {
  background:url("/img/resources/Slides/flockrush_Content-marketing-challenges.jpg") no-repeat center;
 background-size:contain;

}

.flockrush_create-high-velocity-b2b-b2c {
  background:url("/img/resources/Slides/flockrush_create-high-velocity-b2b-b2c.jpg") no-repeat center;
 background-size:contain;

}
