<!-- Consultation Request Form -->

<div class="ui vertical stripe segment vertical-segment-grey-color">
    <div class="ui center aligned text container">
        <div class="ui center aligned header">
            Learn about our strategy and our app
        </div>
        <form class="ui form space-3em" action="https://formspree.io/leads@flockrush.com" method="post">
            <input type="hidden" name="_next" value="//www.flockrush.com/thankyou/" />
            <div class="field">
                <div class="four fields left aligned">
                    <div class="field">
                        <input type="text" name="name" placeholder="My name is" required="">
                    </div>
                    <div class="field">
                        <input type="text" name="company" placeholder="My company is" required="">
                    </div>
                    <div class="field">
                        <input type="email" name="email" placeholder="myemail@is" required="">
                    </div>
                    <div class="field">
                        <input type="tel" name="phone" placeholder="My number +1-212-555-1111" required="">
                    </div>
                </div>

                <div class="item space-4em">
                    <button class="ui green button" name="requestbuttom" type="submit">SEE IF I CAN BENEFIT</button>
                </div>
        </form>
        </div>
    </div>
</div>
