<!-- Consultation Request Form -->

<div class="ui vertical stripe segment vertical-segment-grey-color">
    <div class="ui center aligned text container">
        <div class="ui center aligned header">See if you can benifit
        </div>
        <div class="item">
            <p class="sub-header">Plumlytics has all the tools you need to manage your social media marketing program.</p>
        </div>
        <form class="ui form" action="https://formspree.io/leads@flockrush.com" method="post">
            <input type="hidden" name="_next" value="//www.flockrush.com/thankyou/" />
            <div class="field">
                <div class="four fields">
                    <div class="field">
                        <label>My name is</label>
                        <input type="email" name="email" placeholder="email@you.com" required="">
                    </div>
                    <div class="field">
                        <label>My company is</label>
                        <input type="email" name="email" placeholder="email@you.com" required="">
                    </div>
                    <div class="field">
                        <label>My phone is</label>
                        <input type="tel" name="phone" placeholder="Phone Number" required="">
                    </div>
                </div>
                <button class="ui red inverted button" name="requestbuttom" type="submit">GET MY CONSULTATION</button>
        </form>
        </div>
    </div>
