<!-- Footer  -->

<div class="cropsegmentfooter-none">
    <div class="ui inverted vertical footer blue segment">
        <div class="ui container">
            <div class="ui stackable inverted divided equal height stackable grid">
                <div class="four wide column">
                    <h4 class="inverted header">Newsletter</h4> {{> subscriber-form-short }}
                    <div id="header-links">
                        <ul class="about-secondary-links">
                            <li class="channel-links-item">
                                <a href="https://twitter.com/flockrush" rel="me nofollow" target="_blank" title="twitter" class="about-channel-link yt-uix-redirect-link about-channel-link-with-icon">
                                    <i class="twitter big icon icongreen"></i>
                                </a>
                            </li>

                            <li class="channel-links-item">
                                <a href="https://www.instagram.com/flockrush/" rel="me nofollow" target="_blank" title="instagram" class="about-channel-link yt-uix-redirect-link about-channel-link-with-icon">
                                    <i class="instagram big icon icongreen"></i>
                                </a>
                            </li>

                            <li class="channel-links-item">
                                <a href="https://www.facebook.com/flockrush/" rel="me nofollow" target="_blank" title="facebook" class="about-channel-link yt-uix-redirect-link about-channel-link-with-icon">
                                    <i class="facebook big icon icongreen"></i>
                                </a>
                            </li>

                            <li class="channel-links-item">
                                <a href="https://www.linkedin.com/company/flockrush" rel="me nofollow" target="_blank" title="linkedin" class="about-channel-link yt-uix-redirect-link about-channel-link-with-icon">
                                    <i class="linkedin big icon icongreen"></i>
                                </a>
                            </li>

                        </ul>
                    </div>
                    <a class="item" href="/">
                        <img class="ui small image space-3em" src="/img/flockrush-icon-logo-icon-logo-white-01.png" alt="Social Audience Builders">
                    </a>
                    <br>
                    <p>Flockrush Inc. &copy; 2017</p>
                </div>
                <div class="three wide column">
                    <div class="ui inverted link list">
                        <h4 class="inverted header">Flockrush</h4>
                        <a href="/product/" class="item menu-color">Product</a>
                        <a href="/resources/" class="item menu-color">Resources</a>
                        <a href="/pricing/" class="item menu-color">Pricing</a>
                        <a href="/about/" class="item menu-color">About</a>
                        <a class="item menu-color" href="https://login.flockrush.com/">
                                      LOGIN
                                  </a>
                    </div>
                </div>
                <div class="three wide column">
                    <div class="ui inverted link list">
                        <h4 class="inverted header">Policies</h4>
                        <a href="/privacy-policy/" class="item">Security & Privacy</a>
                        <a href="/terms-of-service/" class="item ">Terms of Service</a>
                    </div>
                </div>
                <div class="six wide column ">
                    <h3>No.1 app to build Targeted Social Audiences.</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    adroll_adv_id = "QBCSR5QQGFBWJKA2P2TR5K";
    adroll_pix_id = "D6KDCVSBNRBJTPAVXCAPBU";
    /* OPTIONAL: provide email to improve user identification */
    /* adroll_email = "username@example.com"; */
    (function() {
        var _onload = function() {
            if (document.readyState && !/loaded|complete/.test(document.readyState)) {
                setTimeout(_onload, 10);
                return
            }
            if (!window.__adroll_loaded) {
                __adroll_loaded = true;
                setTimeout(_onload, 50);
                return
            }
            var scr = document.createElement("script");
            var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
            scr.setAttribute('async', 'true');
            scr.type = "text/javascript";
            scr.src = host + "/j/roundtrip.js";
            ((document.getElementsByTagName('head') || [null])[0] ||
                document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
        };
        if (window.addEventListener) {
            window.addEventListener('load', _onload, false);
        } else {
            window.attachEvent('onload', _onload)
        }
    }());
</script>

<!-- Drip -->
<script type="text/javascript">
    var _dcq = _dcq || [];
    var _dcs = _dcs || {};
    _dcs.account = '1440126';

    (function() {
        var dc = document.createElement('script');
        dc.type = 'text/javascript';
        dc.async = true;
        dc.src = '//tag.getdrip.com/1440126.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(dc, s);
    })();
</script>
