<!-- Footer  -->


<div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="six wide column">
                <p>Flockrush Inc. &copy; 2017</p>
            </div>
            <div class="ten wide column ">
                <p>No.1 app to build Targeted Social Audiences.</p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    adroll_adv_id = "QBCSR5QQGFBWJKA2P2TR5K";
    adroll_pix_id = "D6KDCVSBNRBJTPAVXCAPBU";
    /* OPTIONAL: provide email to improve user identification */
    /* adroll_email = "username@example.com"; */
    (function() {
        var _onload = function() {
            if (document.readyState && !/loaded|complete/.test(document.readyState)) {
                setTimeout(_onload, 10);
                return
            }
            if (!window.__adroll_loaded) {
                __adroll_loaded = true;
                setTimeout(_onload, 50);
                return
            }
            var scr = document.createElement("script");
            var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
            scr.setAttribute('async', 'true');
            scr.type = "text/javascript";
            scr.src = host + "/j/roundtrip.js";
            ((document.getElementsByTagName('head') || [null])[0] ||
                document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
        };
        if (window.addEventListener) {
            window.addEventListener('load', _onload, false);
        } else {
            window.attachEvent('onload', _onload)
        }
    }());
</script>
