<!-- Product page-->
<div class="ui center aligned container">
    <div id="content-discovery " class="ui vertical stripe segment grey-color ">
        <div class="ui four stackable link cards feature-cards">
            <div class="ui card" href="/product/#strategy-guidance">
                <div class="center aligned content">
                    <i class="compass huge inverted circular olive icon"></i>
                    <p class="ui h-semibold">Strategy Guidance</p>
                    <div class="center aligned description">
                        <a class="extra-content yellow">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="ui card" href="/product/#content-discovery">
                <div class="center aligned content">
                    <i class="fire huge inverted circular blue icon"></i>
                    <p class="ui h-semibold">Content Discovery</p>
                    <div class="center aligned description">
                        <a class="extra-content yellow">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="ui card" href="/product/#content-curation">
                <div class="center aligned content">
                    <i class="write huge inverted circular orange icon"></i>
                    <p class="ui h-semibold">Content Curation</p>
                    <div class="center aligned description">
                        <a class="extra-content yellow">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="ui card" href="/product/#content-publishing">
                <div class="center aligned content">
                    <i class="send huge inverted circular green icon"></i>
                    <p class="ui h-semibold">Content Publishing</p>
                    <div class="center aligned description">
                        <a class="extra-content yellow">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui four stackable link cards feature-cards">
            <div class="ui card" href="/product/#ugc-rights-management">
                <div class="center aligned content">
                    <i class="copyright huge inverted circular yellow icon"></i>
                    <p class="ui h-semibold">UGC Rights Management</p>
                    <div class="center aligned description">
                        <a class="extra-content yellow">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="ui card" href="/product/#audience-engagement">
                <div class="center aligned content">
                    <i class="users huge inverted circular purple icon"></i>
                    <p class="ui h-semibold">Audience Engagement</p>
                    <div class="center aligned description">
                        <a class="extra-content yellow">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="ui card" href="/product/#analytics-dashboards">
                <div class="center aligned content">
                    <i class="line chart huge inverted circular red icon"></i>
                    <p class="ui h-semibold">Analytics Dashboards</p>
                    <div class="center aligned description">
                        <a class="extra-content yellow">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="ui card" href="/product/#blog-management">
                <div class="center aligned content">
                    <i class="newspaper huge inverted circular teal icon"></i>
                    <p class="ui h-semibold">Blog Management</p>
                    <div class="center aligned description">
                        <div class="center aligned description">
                            <a class="extra-content yellow">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="strategy-guidance" class="ui vertical stripe segment">
        <div class="ui stackable grid">
            <div class="two wide center aligned column">

            </div>
            <div class="five wide middle aligned column">
                <div class="ui h-bold"> Strategy Guidance </div>
                <p class="p-em-166">Flockrush resources support you to create an effective marketing strategy to grow audiences on social.</p>
                <p>
                    Flockrush is more than great marketing technology, our continually developing and expanding resources help guide you through the process of audience building through content.</p>
                <p>
                    From finding a subject that is tuned to your target audience through using Flockrush to discover the best content we offer resources that help you do your best work.</p>
                <p>
                    Every step of the way our guides will support you, as will the Flockrush team, always willing to answer your questions.</p>
                <div class=" seven wide center aligned column ">

                </div>
            </div>
        </div>
    </div>

    <div id="content-discovery" class="ui vertical stripe segment grey-color ">
        <div class="ui stackable grid ">
            <div class="seven wide center aligned column ">

            </div>
            <div class="five wide middle aligned column ">
                <div class="ui h-bold "> Content Discovery</div>
                <p class="p-em-166">The fastest way to find and curate a large pool of the most engaging content for your audience.</p>
                <p>Flockrush uses artificial intelligence solutions to find and sort content suggestions for your page subjects.</p>
                <p>Building big audiences quickly requires great content to be posted frequently – with Flockrush you get access to great user-generated content, and royalty paid images of the best quality.
                </p>
                <p>
                    Having quick and easy access to relevant, high performing content transforms what can otherwise be a long and time-consuming process.
                </p>
            </div>
        </div>
    </div>

    <div id="content-curation" class="ui vertical stripe segment">
        <div class="ui stackable grid">
            <div class="two wide center aligned column">
            </div>
            <div class="five wide middle aligned column">
                <div class="ui h-bold"> Content Curation</div>
                <p class="p-em-166">Tell you stories quickly and effectively by curating at scale across all your channels simultaneously.</p>
                <p>
                    Curate at scale – the greatest weapon for preparing high volumes of content ready to attract and engage fans.</p>
                <p>
                    Preview and edit multiple posts across all channels simultaneously with ease using our built-in image edits to create your best work.</p>
                <p>
                    No other tool gives you the power to curate so broadly and so fast, ensuring your publishing catalog can grow quickly.
                    <p>
                        <div class=" seven wide center aligned column ">

                        </div>
            </div>
        </div>
    </div>

    <div id="content-publishing" class="ui vertical stripe segment grey-color ">
        <div class="ui stackable grid ">
            <div class="seven wide center aligned column ">

            </div>
            <div class="five wide middle aligned column ">
                <div class="ui h-bold "> Content Publishing</div>
                <p class="p-em-166">Feature rich queues, approval workflows, automated scheduling and blog posting</p>
                <p>
                    With Flockrush you can publish large volumes of content across multiple platforms simultaneously.</p>
                <p>
                    Unlimited content queues enable you to set up and easily manage large pools of content and achieve huge scale with your content publishing.</p>
                <p>
                    Our highly customizable workflow processes and automated scheduling means content can flow efficiently from discovering to social publishing and blog posting but with full control.</p>
            </div>
        </div>
    </div>
    <div id="ugc-rights-management" class="ui vertical stripe segment">
        <div class="ui stackable grid">
            <div class="two wide center aligned column">
            </div>
            <div class="five wide middle aligned column">
                <div class="ui h-bold"> UGC Rights Management</div>
                <p class="p-em-166">Get rights to user-generated content the easy way, with automated workflows to queue publishing on approval</p>
                <p>
                    For peace of mind, Flockrush features an automated single-click process to handle approval rights for user-generated content.</p>
                <p>
                    With our smart workflow solution, any UGC requiring owner approval can be queued for posting subject to receiving approval.</p>
                <p>
                    Once owners give approval content using our single-click process, it is automatically approved for scheduling, leaving an electronic paper trail you can use anytime you may need it.</p>
                <div class=" seven wide center aligned column ">
                </div>
            </div>
        </div>
    </div>

    <div id="audience-engagement" class="ui vertical stripe segment grey-color ">
        <div class="ui stackable grid ">
            <div class="seven wide center aligned column ">

            </div>
            <div class="five wide middle aligned column ">
                <div class="ui h-bold "> Audience Engagement</div>
                <p class="p-em-166">Manage your community interactions with fast prioritization of the most valuable engagement</p>
                <p>
                    Engaging with, and responding to your audience is important, but time-consuming, part of growing your audience metrics.</p>
                <p>
                    Our customer service tool makes this easy, no matter what scale your approach requires and how big your team is.</p>
                <p>
                    Rules and filters allow you to get to the highest priority/opportunity messages and make the most of your community management resources.</p>
            </div>
        </div>
    </div>

    <div id="analytics-dashboards" class="ui vertical stripe segment">
        <div class="ui stackable grid">
            <div class="two wide center aligned column">
            </div>
            <div class="five wide middle aligned column">
                <div class="ui h-bold"> Analytics Dashboards</div>
                <p class="p-em-166">Follow your audience as it grows with powerful analytics dashboards to track your growth and success</p>
                <p>
                    Stay on top of all your metrics with powerful social reporting and dashboards that are easy to create and share within teams.</p>
                <p>

                    Flockrush features a range of highly customizable report widgets, including real-time streaming to allow you to track audience growth across all channels in one place.</p>
                <p>
                    Our AI solutions support rich features language interpretation to allow you to track sentiment and mentions enabling you to visualize and understand what is driving your growth.</p>
                <div class=" seven wide center aligned column ">

                </div>
            </div>
        </div>
    </div>

    <div id="blog-management" class="ui vertical stripe segment grey-color ">
        <div class="ui stackable grid ">
            <div class="seven wide center aligned column ">
            </div>
            <div class="five wide middle aligned column ">
                <div class="ui h-bold "> Blog Management</div>
                <p class="p-em-166">Flockrush syncs content with your WordPress blogs via Jetpack or with a built-in Flockrush blog</p>
                <p>
                    Synchronizing your content across social pages and blogs with high volumes of content is time-consuming.</p>
                <p>
                    With Flockrush we integrate with Wordpress.com and Wordpress.org blogs via the Jetpack plugin and with every plan also offer you our own fully featured blog solution for frictionless publishing.</p>
                <p>
                    Built on the latest JAMstack.org architecture to make sure you gain fast page load speeds and greater security, our blog solution gives you huge benefits, without any of the hassles of hosting.</p>
            </div>
        </div>
    </div>
