<!-- Discover - Tell a story - Build graet Audinces -Promote Home Page -->
-
<div class="ui vertical stripe segment">
    <div class="ui stackable grid">
        <div class="two wide middle aligned column">
        </div>
        <div class="seven wide middle aligned column">
            <div class="ui header">
                Discover great content </div>
            <p>
                Give your social strategy the edge with content to get you noticed. </p>
            <p>Flockrush finds you royalty paid fantastic images and videos, and high performing user-generated content with one-click process to gain legal rights.
            </p>
        </div>
        <div class="six wide center aligned right floated column">
            <img class="ui image" src="/img/flockrush-find-great-content.png" alt="Flockrush Discover Great Content">
        </div>
    </div>
</div>
<div class="ui vertical stripe segment grey-color">
    <div class="ui stackable grid">
        <div class="nine wide center aligned column">
            <img class="ui image" src="/img/flockrush-tell-a-great-story.png" alt="Flockrush Tell a Great Story">
        </div>
        <div class="seven wide middle aligned column">
            <div class="ui header">
                Tell a great story</div>
            <p>Live your brand through your story.</p>
            <p>Free your team to compose and curate across social and blogs, at scale with ease, telling your story through your best performing content.</p>
        </div>
    </div>
</div>
<div class="ui vertical stripe segment">
    <div class="ui stackable grid">
        <div class="two wide center aligned column">
        </div>
        <div class="seven wide middle aligned column">
            <div class="ui header">
                Build a great audience</div>
            <p>
                Great content and great storytelling is the most effective way to grow audiences and get attention. </p>
            <p>Use Flockrush to manage all your social content, rising above the noise of others.</p>
        </div>
        <div class="six wide center aligned center floated column">
            <img alt="Flockrush Background How To" src="http://www.flockrush.com/img/flockrush-background-how-to-powerful-01.png">
        </div>
    </div>
</div>
