<!-- Generate - Activate - Captivate - Cross-Promote Forever-->

<div class="ui vertical stripe segment">
    <div class="ui stackable grid">
        <div class="two wide center aligned column">
        </div>
        <div class="five wide middle aligned column">
            <div class="ui header">
                Topic Discovery – Create a hook for your audience
            </div>
            <p>
                Finding a subject that is tuned to your target audience is the fundamental foundation for creating big, engaged audiences.
            </p>
            <p>Flockrush helps you discover topics that resonate most effectively with your target market so you can build a social content and marketing strategy that attracts them.
            </p>
        </div>
        <div class="seven wide center aligned column">
        </div>

    </div>
</div>

<div class="ui vertical stripe segment grey-color">
    <div class="ui stackable grid">
        <div class="seven wide center aligned column">
        </div>
        <div class="five wide middle aligned column">
            <div class="ui header">
                Content Discovery – Find the content that generates interest
            </div>
            <p>Building big audiences quickly requires great content to be posted frequently. Flockrush uses artificial intelligence solutions to be the fastest way find and curate high volumes of content for your page subjects.
            </p>
            <p>Having quick and easy access to relevant, high performing content transforms what can otherwise be a long and time consuming process.
            </p>
        </div>
    </div>
</div>

<div class="ui vertical stripe segment">
    <div class="ui stackable grid">
        <div class="two wide center aligned column">
        </div>
        <div class="five wide middle aligned column">
            <div class="ui header">
                UGC Rights – Protecting yourself against copyright claims
            </div>
            <p>
                As part of our workflow solution, any UGC requiring owner approval can be queued for posting subject to receiving approval.
            </p>
            <p>Once owners give their approval, content can be automatically scheduled for posting, leaving an electronic paper-trail you can access any time you may need it.
            </p>
        </div>
        <div class="seven wide center aligned column">
        </div>

    </div>
</div>

<div class="ui vertical stripe segment grey-color">
    <div class="ui stackable grid">
        <div class="seven wide center aligned column">
        </div>
        <div class="five wide middle aligned column">
            <div class="ui header">
                Publish at Scale – Publish frequently over multiple channels with ease
            </div>
            <p>With Flockrush you can publish large volumes of content across multiple platforms simultaneously.
            </p>
            <p> Feature rich content queues enable you to set up and manage large pools of content.
            </p>
            <p> Our highly customizable workflow processed and automated scheduling means content can flow efficiently from discover to social publishing and blog posting but with full control.
            </p>
        </div>
    </div>
</div>

<div class="ui vertical stripe segment">
    <div class="ui stackable grid">
        <div class="two wide center aligned column">
        </div>
        <div class="five wide middle aligned column">
            <div class="ui header">
                Manage Content – Grow, retain and activate your audiences
            </div>
            <p>Content queues in Flockrush are built for optimization to ensure you are in control of what you publish, maximising your ability to grow, retain and activate your audience.
            </p>
            <p>We make it easy to find and recycle the best performing content, and remove content that isn’t performing.
            </p>
            <p>Smart use of content helps you activate your audience delivering traffic where you want it to go.
            </p>
        </div>
        <div class="seven wide center aligned column">
        </div>

    </div>
</div>

<div class="ui vertical stripe segment grey-color">
    <div class="ui stackable grid">
        <div class="seven wide center aligned column">
        </div>
        <div class="five wide middle aligned column">
            <div class="ui header">
                Community Management – Engage with your community
            </div>
            <p>
                Engaging with and responding to your audience is an important, but time consuming, part of growing your audience metrics.
            </p>
            <p>Our customer service tool makes this easy, no matter what scale your approach requires and how big your team is.
            </p>
            <p>
                Manage your community interactions with fast prioritization of the most valuable engagement using rules and filters allow you to get make the most of your community management resources.
            </p>
        </div>
    </div>
</div>

<div class="ui vertical stripe segment">
    <div class="ui stackable grid">
        <div class="two wide center aligned column">
        </div>
        <div class="five wide middle aligned column">
            <div class="ui header">
                Blog Publishing – Captivate your audience
            </div>
            <p>Blogs are a great way to pull fans from social sites through to an environment you control.
            </p>
            <p> Automated blog publishing to Wordpress® takes the duplication out of posting content in multiple environments.
            </p>
            <p> Having captivated your audience you have the opportunity to activate your marketing with them.
            </p>
        </div>
        <div class="seven wide center aligned column">
        </div>

    </div>
</div>

<div class="ui vertical stripe segment grey-color">
    <div class="ui stackable grid">
        <div class="seven wide center aligned column">
        </div>
        <div class="five wide middle aligned column">
            <div class="ui header">
                Measure Performance – High performance audience and content dashboards
            </div>
            <p>Stay on top of all your metrics with powerful social reporting and dashboards that are easy to create and share within teams.
            </p>
            <p> Flockrush features a wide range of highly customisable report widgets, including real-time streaming to allow you to track audience growth across all channels in on place.
            </p>
            <p> Our AI solutions support rich features language interpretation to allow you to track sentiment and mentions enabling you to visualise and understand what is driving your growth.
            </p>
        </div>
    </div>
</div>

<div class="ui vertical stripe segment">
    <div class="ui stackable grid">
        <div class="two wide center aligned column">
        </div>
        <div class="five wide middle aligned column">
            <div class="ui header">
                Unlock Audience Value – Cross-promote marketing campaigns
            </div>
            <p>
                Discover how to use large audiences to grow your brand and unlock valuable commercial opportunities
            </p>
        </div>
        <div class="seven wide center aligned column">
        </div>

    </div>
</div>
