<!-- Generate - Activate - Captivate - Cross-Promote Home Page -->
-
<div class="ui vertical stripe segment">
    <div class="ui stackable grid">
        <div class="two wide center aligned column">
        </div>
        <div class="five wide middle aligned column">
            <div class="ui header">
                Generate - Grow a large, targeted social audience - </div>
            <p>
                Find topics that appeals to your target audience. - </p>
            <p>Discover content to post, optimize your scheduling, promote to targets and manage the best performing content in your queues. - </p>
            <p>Take the hard work out of managing content and growing social fans at scale. - </p>
        </div>
        <div class="seven wide center aligned column">
        </div>
    </div>
</div>
<div class="ui vertical stripe segment grey-color">
    <div class="ui stackable grid">
        <div class="seven wide center aligned column">
        </div>
        <div class="five wide middle aligned column">
            <div class="ui header">
                Activate - how we activate the audience for a brand - </div>
            <p>Understand how to use content to direct traffic to your brand or clients. - </p>
            <p>Combat ever-reducing reach of organic posts using audience specific pages. - </p>
            <p>Maintain an always-available pool of targeted fans.</p>
        </div>
    </div>
</div>
<div class="ui vertical stripe segment">
    <div class="ui stackable grid">
        <div class="two wide center aligned column">
        </div>
        <div class="five wide middle aligned column">
            <div class="ui header">
                Captivate - how we create the environment where they are captive - </div>
            <p>
                Use data to manage traffic flows, converting through content. - </p>
            <p>Bring your target audience to your brand. - </p>
        </div>
        <div class="seven wide center aligned column">
        </div>
    </div>
</div>
<div class="ui vertical stripe segment grey-color">
    <div class="ui stackable grid">
        <div class="seven wide center aligned column">
        </div>
        <div class="five wide middle aligned column">
            <div class="ui header">
                Cross-Promote - how you get the marketing value - </div>
            <p>Receive targeted traffic at controlled landing pages to educate, advertise and sell. - </p>
            <p> Get the power of influencer marketing every day to cross-promote your marketing. - </p>
        </div>
    </div>
