<!--header part 2 simple no index -->

<meta name="robots" content="noindex">
<link rel="alternate" href="http://www.flockrush.com" hreflang="en" />
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:200,300,400,400i,500,700,900">
<link rel="stylesheet" type="text/css" href="/css/styles.css">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="theme-color" content="#ffffff ">
<meta name="p:domain_verify" content="9bffb486ed084571bf9529f7f26f91da" />
<meta name="google-site-verification" content="mQ8KGLhrqUiTDTdZM_Wl-UgnUC0ISyFttGLwuqDuB28" />

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>

<script src="/js/range.js"></script>
<script src="/js/index.js"></script>

</head>

<body>
