<!-- How does Flockrush do it?-->

<div class="ui vertical inverted stripe segment masthead cropsegment500">
    <div class="ui stackable grid">
        <div class="nine wide center aligned column">
            <img alt="flockrush-background-how-to" src="http://www.flockrush.com/img/flockrush-background-how-to-powerful-01.png">
        </div>
        <div class="seven wide middle aligned column">
            <h2>Create captivated audiences</h2>
            <br>
            <p>The bigger and better your audience, the stronger your influence and more powerful your brand.
            </p>
        </div>
    </div>
</div>
