<!-- How does Flockrush do it?-->

<div class="cropsegment450">
    <div class="ui vertical inverted stripe segment masthead">
        <div class="ui grid">
            <div class="nine wide center aligned column">
                <img alt="" width="500" src="http://www.flockrush.com/img/flockrush-background-how-to-powerful.svg">
            </div>
            <div class="seven wide middle aligned column">
                <h4>HOW DO YOU BECOME YOUR OWN INFLUENCER?</h4>
                <h2>Create your audiences.</h2>
                <br>
                <p>The bigger and better your audience, the stronger your influence and more powerful your brand.
                </p>
            </div>
        </div>
    </div>
</div>
