<!-- See how Flockrish works with video long form -->

<div class="ui vertical left aligned stripe segment grey-color">
    <div class="ui padded stackable grid">
        <div class="blue row">
            <div class="two wide column">
            </div>
            <div class="six wide column">
                <div class="ui h-bold-blue-border">
                    Get in
                </div>
            </div>
            <div class="eight wide column">
                <div class="ui h-small-bold-blue-border">
                    Find out how Flockrush works with a personal demo
                </div>
            </div>
        </div>
        <div class="grey-color row">
            <div class="two wide column">
            </div>
            <div class="six wide column">
                <div class="ui icon icongrey h-bold ">
                    touch...
                </div>
            </div>
            <div class="eight wide column">
                <p class="p-em-166">
                </p>
            </div>
        </div>
        <div class="grey-color middle aligned row">
            <div class="one wide column">
            </div>
            <div class="six wide column">
                <div class="ui">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/uLVGiymXU7s?rel=0?ecver=1" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="one wide column">
            </div>
            <div class="six wide column">
                {{>information-form}}
            </div>
        </div>
    </div>
</div>
