<!-- See how Flockrish works with video long form -->

<div id="what-is-flock-rush" class="ui vertical left aligned stripe segment grey-color">
    <div class="ui padded grid">
        <div class="blue row">
            <div class="eight wide column">
                <div class="ui h-bold-blue-border">
                    Get in
                </div>
            </div>
            <div class="eight wide column">
                <p class="p-em-166">
                    Find out how Flockrush works with a personal demo
                </p>
            </div>
        </div>
        <div class="grey-color row">
            <div class="eight wide column">
                <div class="ui icon blue h-bold ">
                    touch...
                </div>
            </div>
            <div class="eight wide column">
                <p class="p-em-166">
                </p>
            </div>
        </div>
        <div class="grey-color row">
            <div class="eight wide column">
                <div class="ui h-bold">
                    video
                </div>
            </div>
            <div class="eight wide column">
                {{>information-form}}
            </div>
        </div>
    </div>
</div>
