<!-- Information request long form -->

<form class="ui form" action="https://formspree.io/team@Flockrush.com" method="post">
    <input type="hidden" name="_next" value="//www.Flockrush.com/thankyou/" />
    <div class="field">
        <label>I am</label>
        <select class="ui dropdown" name="customertype">
            <option value="">I am...</option>
            <option value="business">a business looking to build Audiences</option>
            <option value="agency">an agency looking to build Audiences
            </option>
            <option value="individual">an influencer looking to build Audiences
            </option>
            <option value="individual">an open source project, sign me up for the free tier
            </option>
        </select>

    </div>
    <div class="two fields">
        <div class="field">
            <label>Email</label>
            <input type="email" name="email" placeholder="email@you.com" required="">
        </div>
        <div class="field">
            <label>Phone</label>
            <input type="tel" name="phone" placeholder="Phone Number" required="">
        </div>
    </div>
    <div class="two fields">
        <div class="field">
            <input type="text" name="firstname" placeholder="First Name" required="">
        </div>
        <div class="field">
            <input type="text" name="lastname" placeholder="Last Name" required="">
        </div>
    </div>
    <div class="two fields">
        <div class="field">
            <input type="text" name="company" placeholder="My Company Name" required="">
        </div>
        <div class="field">
            <select class="ui dropdown" name="industry">
                <option value="">Industry</option>
                <option value="Advertising">Advertising & Marketing/option</option>
                <option value="Automotive">Automotive</option>
                <option value="Finance">Finance</option>
                <option value="Business">Business & Consultancy/option</option>
                <option value="IT">IT</option>
                <option value="Electronics">Electronics</option>
                <option value="Fashion">Fashion / Luxury Brand</option>
                <option value="CPG">CPG</option>
                <option value="Government">Government/ NGO </option>
                <option value="Hospitality">Hospitality</option>
                <option value="Media">Media / Publishing</option>
                <option value="Telecom">Telecom</option>
                <option value="Travel">Travel</option>
                <option value="Other">Other</option>
            </select>
        </div>
    </div>
    <div class="two fields">
        <div class="field">
            <select class="ui dropdown" name="companysize">
                <option value="">Company size 1 - 5</option>
                <option value="1-10">1 - 10</option>
                <option value="10-20">10 - 20</option>
                <option value="21-100">21 - 100</option>
                <option value="101-1000">101 - 1000</option>
                <option value="1000+">1000+</option>
            </select>
        </div>
        <div class="field">
            <input type="text" name="country" placeholder="Country" required="">
        </div>
    </div>
    <button class="ui green inverted button" name="requestdemo" type="submit">SCHEDULE ME IN</button>
</form>
