<div class="ui ordered list p-light-up">
    <div class="item space-notchem-bottom">
        <div class="content">
            <a class="header space-notchem-bottom">Is there a good source of content for this topic</a>
            <div class="description">Look in Flockrush content discovery to see what UGC and royalty paid images are there.</div>
        </div>
    </div>
    <div class="item space-notchem-bottom">
        <div class="content">
            <a class="header space-notchem-bottom">How much interest you have in the topic</a>
            <div class="description">Where you have a number of curators and a number of topics it’s always best to match people to the topics that most engage them so they will be able to curate the best content.</div>
        </div>
    </div>
</div>
