<!-- The Flockrush App -->

<div class="ui vertical stripe segment">
    <div class="ui stackable grid">
        <div class="two wide center aligned column">
        </div>
        <div class="five wide middle aligned column">
            <div class="ui header">
                The App
            </div>
            <p>
                Flockrush Flockrush is a strategy-driven app for marketing teams to efficiently build big, targeted social audiences.</p>
        </div>
        <div class="seven wide center aligned column">
        </div>

    </div>
</div>
