<!-- The Flockrush App -->

<div class="ui vertical stripe segment">
    <div class="ui stackable grid">
        <div class="two wide center aligned column">
        </div>
        <div class="five wide middle aligned column">
            <div class="ui header">
                The App
            </div>
            <p>
                Flockrush integrates the social networks you know and love, with a unique strategy, and a workflow to let you build large, thriving audiences.</p>
        </div>
        <div class="seven wide center aligned column">
        </div>

    </div>
</div>
