<!-- Too Nav Tool Bar-->

<div class="ui grid">
    <div class="column">
        <div class="ui fixed stackable menu noborder-shadow">
            <div class="right menu menu-color">
                <a href="/" class="item menu-color">HOME</a>
                <a href="/product/" class="item menu-color">PRODUCT</a>
                <a href="/resources/" class="item menu-color">RESOURCES</a>
                <a href="/pricing/" class="item menu-color">PRICING</a>
                <a href="/about/" class="item menu-color">ABOUT</a>
                <a class="item menu-color login" href="https://login.flockrush.com/">LOGIN</a>
            </div>
        </div>
    </div>
</div>
