<!-- Too Nav Tool Bar-->

<div class="ui grid">
    <div class="column">
        <div class="ui inverted fixed stackable menu">
            <a class="item" href="/">
                <img class="ui small image" src="/img/flockrush-logo-full-white.svg" alt="Social Audience Builders">
            </a>
            <div class="right menu menu-color">
                <a href="/product/" class="item menu-color">PRODUCT</a>
                <a href="/resources/" class="item menu-color">RESOURCES</a>
                <a href="/pricing/" class="item menu-color">PRICING</a>
                <a href="/about/" class="item menu-color">ABOUT</a>

                <div class="item login-free-trial">
                    <div class="wrapper">
                        <a class="item menu-color login" href="https://login.flockrush.com/">
                                    LOGIN
                                </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
