<!-- Too Nav Tool Bar-->
<div class="ui topnav sidebar">
    <a class="item" href="/">
        <i class="sidebar icon"></i>
        <img class="ui small image" src="/img/flockrush-logo-full-white.svg" alt="Social Audience Builders">
    </a>
</div>

<div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">

        <div class="ui grid">
            <div class="column">
                <div class="ui inverted fixed stackable menu">
                    <a class="item" href="/">
                        <img class="ui small image" src="/img/flockrush-logo-full-white.svg" alt="Social Audience Builders">
                    </a>
                    <div class="right menu menu-color">
                        <a href="/product/" class="item menu-color">PRODUCT</a>

                        <a href="/pricing/" class="item menu-color">PRICING</a>
                        <a href="/about/" class="item menu-color">ABOUT</a>

                        <div class="item login-free-trial">
                            <div class="wrapper">
                                <a class="item menu-color login" href="https://login.flockrush.com/">
                                    LOGIN
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
