<!-- users after onboarding msg -->


<p>Before you enter the platform, a quick read on what to expect.</p>
<div class="ui list">
    <div class="item">
        <i class=" fire top aligned icon"></i>
        <div class="content">
            <div class="description">Discover Content
            </div>
        </div>
        <br>
        <div class="item">
            <i class="large desktop top aligned icon"></i>
            <div class="content">
                <div class="description">Publishing
                    <br>
                </div>
            </div>
        </div>
        <div class="item">
            <i class="large mail top aligned icon"></i>
            <div class="content">
                <div class="description">Inbox: Designed for high-performance Social Customer Care.
                </div>
            </div>
            <br>
        </div>
        <p>Let's get started. Note you can book a 1 on 1 deep dive custom demonstration by <a href="http://www.Flockrush.com/custom-demo/" data-href="http://www.Flockrush.com/custom-demo/" class="markup--anchor markup--p-anchor" rel="nofollow" target="_blank">registering here</a>.
            We are always here and reachable at care@Flockrush.com.</p>
        <p>Let's get started.</p>
        <br>
