<!-- What is Flockrush -->

<div class="ui vertical center aligned stripe segment grey-color">
    <h2>What is <span class="image"><img alt="" width="30" src="http://www.flockrush.com/img/flockrush-icon-logo-center.svg">Flockrush</span>?</h2>
    <p>Flockrush is an app that lets you build large, targeted,
        <br>audience influencer groups and market to them.
    </p>
    <p>Why use other people's audiences, when you can create your own?
    </p>
    <br>
    <div class="ui stackable center aligned container grid">

        <div class="four wide column">
            <i class="users large icon"></i>
            <p>Audiences</p>
        </div>

        <div class="four wide column">
            <i class="comments large outline icon"></i>
            <p>Engagement</p>
        </div>

        <div class="four wide column">
            <i class="line chart large icon"></i>
            <p>Results</p>
        </div>

    </div>
</div>
