<!-- What is Flockrush -->

<div id="what-is-flock-rush" class="ui vertical center aligned stripe segment grey-color">
    <div class="ui h-bold">
        Flockrush is a content management & distribution engine
    </div>
    <div class="ui padded grid">

        <div class="blue row">
            <div class="column">
                <h2 class="p-em-166">We enables content marketing on <span class="p-notchup">social</span> and <span class="p-notchup">blogs </span>at scale, and with speed.
                </h2>
            </div>
        </div>
    </div>

    <div class="ui stackable center aligned container grid space-5em ">

        <div class="eight wide column">
            <h4 class="ui header">FOR PUBLISHERS</h4>
            <p class="space-2em">Use Flockrush social amplification to grow 1m+++ fans and maximize quality traffic</p>
            <div class="item space-3em">
                <a class="ui blue button button-font-format" href="/product/?utm_source=fanbuilder">Learn more here</a>
            </div>
        </div>

        <div class="eight wide column">
            <h4 class="ui header">FOR BRANDS</h4>
            <p class="space-2em">Use Flockrush for all your brand social and blog content management and marketing
            </p>
            <div class="item space-3em">
                <a class="ui blue button button-font-format" href="/An-Introduction-to-Flockrush/?utm_source=brandbuilder">Learn more here</a>
            </div>
        </div>

    </div>
</div>
