<!-- What is Flockrush -->

<div id="what-is-flock-rush" class="ui vertical center aligned stripe segment grey-color">
    <div class="ui h-bold">
        What is Flockrush
    </div>
    <div class="ui padded grid">

        <div class="blue row">
            <div class="column">
                <p class="p-em-166">Flockrush enables content marketing on <span class="p-notchup">social</span> and <span class="p-notchup">blogs </span>at scale, and with speed.
                </p>
            </div>
        </div>
    </div>

    <div class="ui stackable center aligned container grid space-5em ">

        <div class="eight wide column">
            <h4 class="ui header">FOR FAN PAGE BUILDERS</h4>
            <p class="space-2em">Use free UCG and royalty paid images to grow 1m+ fan page audiences using Flockrush</p>
            <div class="item space-3em">
                <a class="ui blue button button-font-format" href="/resources/?utm_source=fanbuilder">Learn more here</a>
            </div>
        </div>

        <div class="eight wide column">
            <h4 class="ui header">FOR BRANDS</h4>
            <p class="space-2em">Use Flockrush to for all your brand social and blog content management and marketing
            </p>
            <div class="item space-3em">
                <a class="ui blue button button-font-format" href="/resources/?utm_source=brandbuilder">Learn more here</a>
            </div>
        </div>

    </div>
</div>
