<!-- Who is Flockrush for -->

<div class="ui vertical stripe segment">
    <div class="ui stackable grid">

        <div class="two wide center aligned column">
        </div>

        <div class="five wide middle aligned column">
            <div class="ui header">
                Flockrush is built for influencers, agencies, and brands - scalable to any team size
            </div>
            <p>Investing in building your own influence audience groups has parallels with investing in SEO to be on page No. 1.
            </p>
        </div>

        <div class="seven wide center aligned column">
        </div>

    </div>
</div>
