 {{> header-part1 }}

<title>About Flockrush: Our Story</title>
<meta name="description" content="The background story of how we created a product no-one else had and why it's so good at what it does."> {{> header-part2 }} {{> top-nav-toolbar }}

<div class="ui text container">
    <div class="ui huge inverted space-10em">
        <h1>We supercharged social content marketing</h1>
        <h2 class="h-small">
          Why we built Flockrush - and changed what's possible
        </h2>
    </div>
</div>
</div>

{{> header-2 }} {{{ contents }}} {{> information-form-with-video}} {{> footer }}

</body>

</html>
