{{> header-part1 }}

<title>Onboarding: Start of automated on-boarding </title>
<meta name="description" content="Flockrush automated on-boarding started. Thank you for joining Flockrush."> {{> header-part2-simple-noindex }}

<div class="ui text left aligned container">
    <div class="ui one column grid">
        <div class="column">
            <div id="user-onboarding" class="ui large header">
                Congratulations! That was great work.
            </div>
        </div>
        <div class="column">
            {{> users-after-onboarding-msg }}
        </div>
    </div>
    <div>

        {{{ contents }}}

        </body>

        </html>
