{{> header-part1 }}

<title>Audience Fan Page Building 101</title>
<meta name="description" content="How Anyone Can Use Flockrush to Build an Audience of One Million Fans in Ten Steps."> {{> header-part2 }} {{> top-nav-toolbar }}

<div class="ui text container">
    <div class="ui huge inverted space-10em">
        <h1>Audience Fan Page Building 101</h1>
        <h2 class="h-small">
          Build an audience of a million fans in ten steps
       </h2>
    </div>
</div>
</div>

{{> header-2 }} {{{ contents }}} {{> footer }}

</body>

</html>
