{{> header-part1 }}

<title>Onboarding: Start of automated on-boarding</title>
<meta name="description" content="Flockrush automated on-boarding has started. Thank you for joining Flockrush."> {{> header-part2-noindex }}

<div class="ui text left aligned container">
    <div class="ui one column grid">
        <div class="column">
            <div id="user-onboarding" class="ui large header">
                Welcome to Flockrush!
            </div>
            <div class="column">
                <p>You will now be presented with a series of forms to set up your platform.</p>

                <div class="ui list">
                    <div class="item">
                        <i class="large setting middle aligned icon"></i>
                        <div class="content">
                            <div class="description">You will begin by entering your profile information and selecting your timezone. </div>
                        </div>
                    </div>
                    <div class="item">
                        <i class="large plus middle aligned icon"></i>
                        <div class="content">
                            <div class="description">You will then go ahead to add your social profiles such as Twitter/ Facebook etc.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>

        {{{ contents }}}

        </body>

        </html>
