 {{> header-part1 }}

<title>Flockrush - Frequently Asked Questions</title>
<meta name="description" content="Flockrush  - Frequently Asked (and useful!) Questions."> {{> header-part2 }} {{> top-nav-toolbar }}

<div class="ui text container">
    <div class="ui huge inverted space-10em">
        <h1>F.A.Q.</h1>
        <h2 class="h-small">
          Flockrush  - Frequently Asked (and useful!) Questions
        </h2>
    </div>
</div>
</div>

{{> header-2 }} {{{ contents }}} {{> footer }}

</body>

</html>
