{{> header-part1 }}

<title>Help: Flockrush knowledge base</title>
<meta name="description" content="Flockrush Helps - A library of helpful videos and documents."> {{> header-part2 }}

<div class="ui text left aligned container">

    <h1>
      TRAINING/HELP
    </h1>
    <br>
    <div class="ui two column grid">
        <div class="column">
            <a class="item" href="#" target="_blank">
                  Help
            </a>
        </div>
        <div class="column">
            <a class="item" href="/" target="_blank">
        Videos
      </a>
        </div>
    </div>
</div>
<br>
<br>
<div class="ui text left aligned container">
    <div class="scrollable welcome">
        <!---->
        <h2>WELCOME! Flockrush V1.1 beta</h2>
        <h1>The #1 Targeted Social Audience Building App: Flockrush</h1>
        <p>Flockrush is a feature rich strategy-driven app for marketing teams to efficiently build big, targeted social audiences.</p>
        <h2>System Requirements</h2>
        <p>Your Flockrush App is built to provide the best experience under the following technical conditions:</p>
        <ul class="inline">
            <li>Google Chrome Browser Version 48.0.25xx or higher</li>
            <li>Minimum 13" Monitor, preferably 15" or higher</li>
            <li>Mac, but we have nothing against PC's :)</li>
        </ul>
        <h2>What is planned in the future versions?</h2>
        <p>Flockrush is an open and highly functionally scalable marketing communication and predictive analytics technology, which makes new feature add-ons to have a faster turn around time. We are always looking for feedback so we can make this the best
            platform for you!</p>
        <p>Short term: Expect to see new versions rolling with some cool features. We have an extensive product roadmap, so sit back and enjoy the journey.</p>
        <p>Long term future we will provide support for smaller screen footprints.</p>
        <h2>Need Help?</h2>
        <p>Reach out by clicking on <strong>Customer Care Team</strong> at the bottom of Messenger.</p>
        <p>You can also reach us at care@Flockrush.com.</p>
        <p>Have an amazing Day!</p>
    </div>
</div>

{{{ contents }}}

</body>

</html>
