{{> header-part1 }}

<title>How to choose a topic to build a fan page.</title>
<meta name="description" content="How to choose a topic for your social media fanpage using Facebook Audience Insights."> {{> header-part2 }} {{> top-nav-toolbar }}

<div class="ui text container">
    <div class="ui huge inverted space-10em">
        <h1>Choose a topic to build an audience</h1>
        <h2 class="h-small">
          Flockrush Facebook Topic Strategy
       </h2>
    </div>
    {{> subscriber-form-resource-blog-header }}
</div>
</div>

{{> header-2 }} {{{ contents }}} {{>subscriber-form-resource-blog-page-bottom}} {{> footer }}

</body>

</html>
