{{> header-part1 }}

<title>How to build an audience of one million fans in ten steps.</title>
<meta name="description" content="How to build a social media fan page with one million fans using the Flockrush strategy."> {{> header-part2 }} {{> top-nav-toolbar }}

<div class="ui text container">
    <div class="ui huge inverted space-10em">
        <h1>Audience Fan Page Building 101</h1>
        <h2 class="h-small">
          Build an audience of a million fans in 10 steps
       </h2>
    </div>
    {{> subscriber-form}}
</div>
</div>

{{> header-2 }} {{{ contents }}} {{>subscribe-audience-building-resource-mailchimp}} {{> footer }}

</body>

</html>
