{{> header-part1 }}

<title>How to choose images primed for social engagement.</title>
<meta name="description" content="How to use images to increase your social media engagement."> {{> header-part2 }} {{> top-nav-toolbar }}

<div class="ui text container">
    <div class="ui huge inverted space-10em">
        <h1>Images primed for social engagement</h1>
        <h2 class="h-small">
Increase your social media engagement
       </h2>
    </div>
</div>
</div>

{{> header-2 }} {{{ contents }}} {{> footer }}

</body>

</html>
