{{> header-part1 }}

<title>How to monetize your social audience.</title>
<meta name="description" content="How to turn a large fan page audience into a financial success."> {{> header-part2 }} {{> top-nav-toolbar }}

<div class="ui text container">
    <div class="ui huge inverted space-10em">
        <h1>Monetize your Social Audience</h1>
        <h2 class="h-small">
            How to turn a fan page audience into a financial success.</h2>
    </div>
    {{> subscriber-form-resource-blog-header }}
</div>
</div>

{{> header-2 }} {{{ contents }}} {{>subscriber-form-resource-blog-page-bottom}} {{> footer }}

</body>

</html>
