{{> header-part1 }}

<title>How Flockrush uses content queues to get your fan pages noticed.</title>
<meta name="description" content="How to use content queues in Flockrush to increase your social media reach."> {{> header-part2 }} {{> top-nav-toolbar }}

<div class="ui text container">
    <div class="ui huge inverted space-10em">
        <h1>Content queues 101</h1>
        <h2 class="h-small">
          Use content queues to increase your social media reach
        </h2>
    </div>
    {{> subscriber-form-resource-blog-header }}
</div>
</div>

{{> header-2 }} {{{ contents }}} {{>subscriber-form-resource-blog-page-bottom}} {{> footer }}

</body>

</html>
