 {{> header-index }}

<div class="ui text container">
    <div class="ui huge inverted space-10em">
        <h1>The #1 Targeted Social Audience Building App</h1>
    </div>
    <h5 class="space-10em">
        Learn how to build a million fans in just a few months
    </h5>
    <p>Generate. Activate. Captivate. Cross-Promote. Forever.
    </p>
    {{>consultation}}
</div>
</div>

{{> header-2 }} {{>what-is-flockrush}} {{>how-does-flockrush-do-it}} {{>generate-activate-home-page}} {{{ contents }}} {{> footer }}

</div>
</body>

</html>
