{{> header-part1 }}

<title>The #1 Targeted Social Audience Building App: Flockrush</title>
<meta name="description" content="Flockrush is a feature rich strategy-driven app for marketing teams to efficiently build big, targeted social audiences. Contact us for a free demo today."> {{> header-part2 }} {{> top-nav-toolbar }}

<div class="ui text container">
    <div class="ui huge inverted space-10em">
        <h1>Discover great content, tell a great story, build a great audience.</h1>
        <h2 class="h-small">
          The fastest way to grow your social fans using content
        </h2>
    </div>
    {{>consultation-form}}
</div>
</div>

{{> header-2 }} {{{ contents }}} {{>what-is-flockrush}}

<div class="ui vertical stripe segment">
    <div class="ui left aligned text container">
        <p class="h1size">See How Flockrush Works</p>
        {{>information-form}}
    </div>
</div>

{{> footer }}

</body>

</html>
