{{> header-part1 }}

<title>The #1 Targeted Social Audience Building App: Flockrush</title>
<meta name="description" content="Flockrush is a feature rich strategy-driven app for marketing teams to efficiently build big, targeted social audiences. Contact us for a free demo today."> {{> header-part2 }} {{> top-nav-toolbar-full-masthead }}

<div class="ui text container">
    <div class="ui huge inverted space-10em">
        <h1>Discover great content, tell a great story, build a great audience.</h1>
        <h2 class="h-small">
          The fastest way to grow your FANS using content
        </h2>
    </div>
    <div class="ui center aligned text container space-12em">
        <a href="/#what-is-flock-rush"><i class="angle massive down icon"></i></a>.
    </div>
</div>
</div>

{{> header-2 }} {{>what-is-flockrush}} {{{ contents }}}

<div class="ui vertical stripe segment">
    <div class="ui left aligned text container">
        <p class="h1size">See How Flockrush Works</p>
        {{>information-form}}
    </div>
</div>

{{> footer }}

</body>

</html>
