 {{> header-index }}

<div class="ui text container">
    <div class="ui huge inverted space-10em">
        <h1>Product Overview</h1>
    </div>
    <h5 class="space-10em">
      The Flockrush way to create large targeted audiences of social fans
    </h5>
    <p>Generate. Activate. Captivate. Cross-Promote. Forever.
    </p>
    <p>
        GENERATE – Find great content and build your audience</p>
    <p>
        ACTIVATE – Deliver fans to pages where content can be controlled</p>
    <p>
        CAPTIVATE – Create a online home for you</p>
    <p>
        CROSS-PROMOTE – Deliver marketing messages to your audience</p>
</div>
</div>

{{> header-2 }} {{>generate-activate-forever}} {{{ contents }}} {{> footer }}

</div>
</body>

</html>
