{{> header-part1 }}

<title>How Flockrush Works: The Platform Explained</title>
<meta name="description" content="Discover more about the building blocks that have gone into the Flockrush platform to make it the fastest way to build social audiences using content."> {{> header-part2 }} {{> top-nav-toolbar }}

<div class="ui text container">
  <div class="ui huge inverted space-10em">
    <h1>One content management platform for your whole team.</h1>
    <h2 class="h-small">
          Flockrush achieves unrivaled efficiency, effectiveness and virality
        </h2>
  </div>
</div>
</div>

{{> header-2 }} {{{ contents }}} {{> information-form-with-video}} {{> footer }}

</body>

</html>
