 {{> header-index }}

<div class="ui text container">
    <div class="ui huge inverted space-10em">
        <h1>Product Overview</h1>
    </div>
    <h5 class="space-10em">
      The Flockrush way to create large targeted audiences of social fans
    </h5>
    <div class="ui stackable grid">
        <div class="five wide center aligned column">
        </div>
        <div class="six wide left aligned column">
            <p>
                GENERATE – Find great content and build your audience</p>
            <p>
                ACTIVATE – Deliver fans to pages where content can be controlled</p>
            <p>
                CAPTIVATE – Create an online home for you</p>
            <p>
                CROSS-PROMOTE – Deliver marketing messages to your audience</p>
        </div>
        <div class="five wide center aligned column">
        </div>
    </div>

</div>
</div>

{{> header-2 }} {{>generate-activate-forever}} {{{ contents }}} {{> footer }}

</div>
</body>

</html>
