{{> header-part1 }}

<title>Content Marketing Resources: Flockrush</title>

<meta name="description" content="Resources to help you build big, targeted social audiences using Flockrush - the most effective audience building platform for your whole team."> {{> header-part2 }} {{> top-nav-toolbar }}

<div class="ui text container">
    <div class="ui huge inverted space-10em">
        <h1>Resources</h1>
        <h2 class="h-small">Audience building resources to support your success</h2>
    </div>

</div>
</div>

{{> header-2 }} {{{ contents }}}

<div class="ui vertical stripe segment grey-color">
    <div class="ui left aligned text container">
        <p class="h1size">See How Flockrush Works</p>
        {{>information-form}}
    </div>
</div>

{{> footer }}

</body>

</html>
