{{> header-part1 }}

<title>Ten top tips for smart curation.</title>
<meta name="description" content="How to curate content more effectively to get more social engagement."> {{> header-part2 }} {{> top-nav-toolbar }}

<div class="ui text container">
    <div class="ui huge inverted space-10em">
        <h1>Tips for smart curation</h1>
        <h2 class="h-small">
            Curate content more effectively
       </h2>
    </div>
    {{> subscriber-form-resource-blog-header }}
</div>
</div>

{{> header-2 }} {{{ contents }}} {{>subscriber-form-resource-blog-page-bottom}} {{> footer }}

</body>

</html>
