{{> header-part1 }}

<title>Ten habits of high performance content managers.</title>
<meta name="description" content="Why you should optimize your content marketing performance to grow fans."> {{> header-part2 }} {{> top-nav-toolbar }}

<div class="ui text container">
    <div class="ui huge inverted space-10em">
        <h1>Ten habits of great content managers</h1>
        <h2 class="h-small">
            Why you should optimize your content marketing performance
        </h2>
    </div>
</div>
</div>

{{> header-2 }} {{{ contents }}} {{>subscribe-audience-building-resource-mailchimp}} {{> footer }}

</body>

</html>
