{{> header-part1 }}

<title> Flockrush: Thankyou for Subscription!</title>
<meta name="description" content="Thank You for subscription confirmation request to Flockrush Resources on Audience Building."> {{> header-part2-noindex }} {{> top-nav-toolbar }}

<div class="ui text container">
    <div class="ui huge inverted space-10em">
        <h1>Thank you for subscribing!</h1>
        <h2 class="h-small">Your subscription to our list has been confirmed.</h2>
        <p> Please note by subscribing you can expect to learn about a proven strategy to engage and monetize audiences.</p>
    </div>
</div>
</div>

{{> header-2 }} {{{ contents }}} {{> footer }}


</body>

</html>

</html>
