{{> header-part1 }}

<title>The Flockrush guide to beginners social analytics.</title>
<meta name="description" content="A Flockrush guide to getting started with social analytics."> {{> header-part2 }} {{> top-nav-toolbar }}

<div class="ui text container">
    <div class="ui huge inverted space-10em">
        <h1>Social Analytics</h1>
        <h2 class="h-small">
A Flockrush guide to getting started with social analytics</h2>
    </div>
    {{> subscriber-form}}
</div>
</div>

{{> header-2 }} {{{ contents }}} {{>subscribe-audience-building-resource-form}} {{> footer }}

</body>

</html>
