{{> header-part1 }}

<title>The Flockrush guide to monetizing your blog.</title>
<meta name="description" content="The Flockrush guide: How to effectively monetize your blog."> {{> header-part2 }} {{> top-nav-toolbar }}

<div class="ui text container">
    <div class="ui huge inverted space-10em">
        <h1>Guide to monetizing your blog</h1>
        <h2 class="h-small">
          How to effectively monetize your blog
       </h2>
    </div>
    {{> subscriber-form}}
</div>
</div>

{{> header-2 }} {{{ contents }}} {{>subscribe-audience-building-resource-mailchimp}} {{> footer }}

</body>

</html>
