{{> header-part1 }}

<title>How B2Bs can use user-generated content to unlock a Facebook marketing strategy.</title>
<meta name="description" content="Overcome the obstacles B2Bs face with content marketing to build and effective Facebook marketing strategy."> {{> header-part2 }} {{> top-nav-toolbar }}

<div class="ui text container">
    <div class="ui huge inverted space-10em">
        <h1>Overcome B2B obstacles</h1>
        <h2 class="h-small">
            How B2Bs can use user-generated content for social marketing</h2>
    </div>
    {{> subscriber-form-resource-blog-header }}
</div>
</div>

{{> header-2 }} {{{ contents }}} {{>subscriber-form-resource-blog-page-bottom}} {{> footer }}

</body>

</html>
