{{> header-part1 }}

<title>What you need to know about UGC rights approval.</title>
<meta name="description" content="How to use Flockrush to get UGC user-generated content approval rights."> {{> header-part2 }} {{> top-nav-toolbar }}

<div class="ui text container">
    <div class="ui huge inverted space-10em">
        <h1>User Generated Content (UGC) Rights</h1>
        <h2 class="h-small">
            How to use Flockrush to get UGC user-generated content approval rights
        </h2>
    </div>
    {{> subscriber-form}}
</div>
</div>

{{> header-2 }} {{{ contents }}} {{>subscribe-audience-building-resource-mailchimp}} {{> footer }}

</body>

</html>
