{{> header-part1 }}

<title>Why your fanpage audience needs a Flockrush blog.</title>
<meta name="description" content="Learn why our high performance blog platform is key to your Flockrush fan page strategy."> {{> header-part2 }} {{> top-nav-toolbar }}

<div class="ui text container">
    <div class="ui huge inverted space-10em">
        <h1>Why Flockrush Blog</h1>
        <h2 class="h-small">
            Learn why OUR high performance blog platform is key
         </h2>
    </div>
    {{> subscriber-form}}
</div>
</div>

{{> header-2 }} {{{ contents }}} {{>subscribe-audience-building-resource-form}} {{> footer }}

</body>

</html>
