{{> header-part1 }}

<title>Why Content Curation Beats Content Creation for audience building.</title>
<meta name="description" content="Understand why content curation is so effective to build your fan page audience."> {{> header-part2 }} {{> top-nav-toolbar }}

<div class="ui text container">
    <div class="ui huge inverted space-10em">
        <h1>Why Content Curation</h1>
        <h2 class="h-small">
            Curation's effectiveness in fan building
       </h2>
    </div>
    {{> subscriber-form}}
</div>
</div>

{{> header-2 }} {{{ contents }}} {{>subscribe-audience-building-resource-mailchimp}} {{> footer }}

</body>

</html>
