{{> header-part1 }}

<title>Sales Presentation: Flockrush</title>

<meta name="description" content="Sales Presentation Deck."> {{> header-part2-slider }} {{>top-nav-toolbar-content}}
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

<div class="ui text center aligned container">
    <div class="ui huge inverted space-10em">
        <h1>Flockrush</h1>
        <h2 class="h-small space-5em-bottom">Bold Beautiful Marketing</h2>
    </div>

</div>
</div>

{{> header-2 }}


<!-- Swiper -->
<div class="swiper-container gallery-top">
    <div class="swiper-wrapper">
        <div class="swiper-slide flockrush-slide-opening"> </div>
        <div class="swiper-slide flockrush-slide-powering-bold-marketing"> </div>
        <div class="swiper-slide flockrush-slide-welcome"> </div>
    </div>
    <!-- Add Arrows -->
    <div class="swiper-button-next swiper-button-white"></div>
    <div class="swiper-button-prev swiper-button-white"></div>
</div>
<div class="swiper-container gallery-thumbs">
    <div class="swiper-wrapper">
        <div class="swiper-slide flockrush-slide-opening"> </div>
        <div class="swiper-slide flockrush-slide-powering-bold-marketing"> </div>
        <div class="swiper-slide flockrush-slide-welcome"> </div>
    </div>
</div>

<!-- Swiper JS -->
<script src="/js/swiper.jquery.min.js"></script>


{{> footer }}

</body>

</html>
