{{> header-part1 }}

<title>Content Marketing Resources: Flockrush</title>

<meta name="description" content="Resources to help you build big, targeted social audiences using Flockrush - the most effective audience building platform for your whole team."> {{> header-part2 }} {{>top-nav-toolbar-content}}

<div class="ui text center aligned container">
    <div class="ui huge inverted space-10em">
        <h1>Resources</h1>
        <h2 class="h-small space-5em-bottom">Audience building resources to support your success</h2>
    </div>

</div>
</div>

{{> header-2 }} --- layout: resources.html ---

<!-- Flockrush resources -->

--- layout: index.html ---

<!-- Discover - Tell a story - Build great Audiences -Promote Home Page -->

<div class="ui vertical">
    <div class="ui stackable grid">
        <div class="eight wide left aligned column nopadding-left-right">
            <div class="middle aligned row">
                <div class="image">
                    <img class="ui fluid image" src="/img/Earth-discover-great-content-flockrush.jpg" alt="Earth Flockrush Discover Great Content">
                    <div class="ui container textimage">
                        <div class="ui h-bold-tight margin-left-3rem">
                            Discover great content
                        </div>
                        <p class="p-em-133 margin-left-3rem">
                            Give your social strategy the edge with content that gets noticed.
                        </p>
                        <p class="margin-left-3rem">Get unlimited access to eye-capturing royalty paid images and enjoy high performance user-generated content with single-click usage authorization for UGC rights management.
                        </p>
                        <div class="item space-2em margin-left-3rem">
                            <a class="ui blue button button-font-format" href="/resources/?utm_source=tellmorecontent">Tell me more about Flockrush content</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="eight wide left aligned column nopadding-left-right">
            <div class="middle aligned row">
                <div class="column">
                    <div class="image">
                        <img class="ui fluid image" src="/img/DogCat-tell-a-story-flockrush.jpg" alt="Dog Cats Flockrush Tell a Great Story">
                        <div class="ui container textimage">
                            <div class="ui h-bold-tight margin-left-3rem">
                                Tell great stories</div>
                            <p class="p-em-133 margin-left-3rem">
                                Live your brand through curating great content.</p>
                            <p class="margin-left-3rem">Free your team to compose and curate across <span class="p-notchup">social</span> and
                                <span class="p-notchup">blogs</span>, at scale with ease, telling your story through your best performing content.
                            </p>
                            <div class="item space-2em margin-left-3rem">
                                <a class="ui blue button button-font-format" href="/resources/?utm_source=tellmorestorytelling">Learn about storytelling through content
                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="middle aligned row">
                <div class="column">
                    <div class="image">
                        <img class="ui fluid image" src="/img/Starlings-build-a-great-audience-flockrush.jpg" alt="Starling Flockrush Build a Great Audience">
                        <div class="ui container textimage">
                            <div class="ui h-bold-tight margin-left-3rem">
                                Build a great audience</div>
                            <p class="p-em-133 margin-left-3rem">
                                When you tell great stories using engaging content, you gain your audience's attention, and grow your fans much faster.
                            </p>
                            <p class="margin-left-3rem">Use Flockrush to manage all your <span class="p-notchup">social</span> and
                                <span class="p-notchup">blogs</span>, rising above the noise of others.
                            </p>
                            <div class="item space-2em margin-left-3rem">
                                <a class="ui blue button button-font-format" href="/resources/?utm_source=tellmoreaudience">Find out how to build a great audience</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{{>what-is-flockrush}}

<div class="ui vertical stripe segment">
    <div class="ui left aligned text container">
        <p class="h1size">See How Flockrush Works</p>
        {{>information-form}}
    </div>
</div>

{{> footer }}

</body>

</html>
